<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD9odEIg1BU0uQQqYzf6VzaOcm-hLNXFvk</string>
	<key>GCM_SENDER_ID</key>
	<string>322532190054</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mercurytech.mercuryTech</string>
	<key>PROJECT_ID</key>
	<string>mercurycomputers-tech</string>
	<key>STORAGE_BUCKET</key>
	<string>mercurycomputers-tech.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:322532190054:ios:037534086894992abe8aa7</string>
</dict>
</plist>